@charset "UTF-8";
@import url(pacote-projeto-d010/fontes/idroid.otf);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --cor-1: rgb(156, 217, 179);
    --cor0: rgb(50, 225, 110);
    --cor1: rgb(23, 102, 52);
    --cor1_5: rgb(31, 85, 52);
    --cor2: rgb(20, 80, 40);
}
*{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
    color: white;
}
header > h1{
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    padding: 25px 10px 12px 10px;
    font-family: 'Bebas Neue', 'cursive';
    text-shadow: 4px 4px 2.5px rgba(0, 0, 0, 0.489);
}
header > h2{
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.2em;
    padding-bottom: 10px;
    max-width: 500px;
    margin: auto;
    border: 0px 5px;
    text-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.489);
}
article > h1{
    font-family: idroid;
    font-size: 2em;
    color: var(--cor2);
    text-align: left;
}
article > h2{
    font-family: idroid;
    color: var(--cor2);
    background-image: linear-gradient( to right, rgba(50, 225, 111, 0.25), white);
    padding-left: 5px;
}
header > h2{
    font-weight: normal;
    text-align: center;
    font-size: 1em;
}
nav{
    font-weight: bold;
    font-size: 1em;
    background-color: rgba(23, 102, 52, 0.315);
    padding: 10px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.250);
}
nav > a{
    color: var(--cor-1);
    text-decoration: none;
    padding: 10px;
    font: normal bold 1em Arial;
    border-radius: 5px;
    transition-duration: 0.5s;
}
body{
    background-color: var(--cor-1);
}
main{
    padding-bottom: 15px;
}
main > section{
    background-color: white;
    border-radius: 2.5px;
    border-radius: 2.5px 2.5px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.503);
    min-width: 320px;
    max-width: 840px;
    margin: auto;
}
section > article{
    padding: 20px;
}
p{
    text-indent: 25px;
    line-height: 1.5em;
    padding: 10px 0px;
    font-size: 1em;
}
section > aside{
    background-color: var(--cor1_5);
    text-align: center;
    padding: 10px 0px;
    position: relative;
    padding-bottom: 59%;
}
img{
    display: block;
    margin: 0px auto;
}
footer{
    background-color: var(--cor1_5);
}
footer > p{
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    padding: 5px 0px;
}
footer > p > a{
    font-weight: bold;
    color: white;
}
p#sp{
    padding: 0px 20px 20px 20px;
}
article#qm {
    background-color: rgba(156, 217, 179, 0.801);
    border-radius: 10px;
    padding: 0px 0px 15px 0px;
    margin: 10px 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.250);
}
article#qm > h3{
    padding: 10px 0px 10px 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(75, 180, 110);
    color: white;
}
article#qm > p{
    padding: 5px 10px;
}
ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    padding: 5px 10px;
    columns: 2;
}

p > a{
    color: rgb(40, 100, 70);
    text-decoration: none;
    font-weight: bold;
}
strong {
    color: rgb(40, 150, 70);
}
.link::after{
    content: "\00A0\01F517";
}
.link{
    background-color: var(--cor0);
    border-radius: 5px;
    padding: 0px 5px;
}
.link:hover{
    color: var(--cor1_5);
}
nav > a:hover{
    color: rgb(23, 102, 52);
    background-color: rgb(100, 220, 150);
}
.link:hover{
    text-decoration: underline;
}
img{
    width: 100%;
}
.pq{
    max-width: 350px;
    display: block;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor-1);
}
.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
